* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  background-size: "100%";
  background-color: #00ff00;
}

.tts-container {
        position: relative;
    }

#box {
    position: absolute;
    display: none;
    top: -35px;
    left: 200px;
    transform: scale(0.7);
}

.text {
    position: absolute;
    top: 40px;
    left: 20px;
    color: white;
    font-size: 38px;
    font-weight: 900;
}
